<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="page1">

<head>

<meta charset="utf-8">

<title>Film</title>
</head>
<body>
	<div layout:fragment="contenu">
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
							
								<div class="card-header" style="background-color: #E0E6F8">


                                        <h4 class="card-title">Films</h4>
                                        <form class="navbar-form">

                                            <div class="input-group">
                                                <input class="col-md-2 form-control" type="search" placeholder="Name"
                                                    aria-label="Search" name="keyword">&nbsp;&nbsp;
                                                <button class="btn btn-outline-success my-2 my-sm-0"
                                                    type="submit">Search</button> &nbsp;&nbsp;
                                                <a class="btn btn-primary" th:href="@{listFilms}">Refresh</a>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Titre</th>
                                                        <th>Duree</th>
                                                        <th>Realisateur</th>
                                                        <th>Description</th>
                                                        <th>Photo</th>
                                                        <th>Date de sortie</th>
                                                        <th>Categorie</th>
                                                        <th sec:authorize="hasRole('ROLE_MANAGER')" >Action</th>


                                                        <th sec:authorize="hasRole('ROLE_MANAGER')" ><a style="display: inline-block" class="nav-link"
                                                                th:href="@{formFilm}"> <i class="material-icons"
                                                                    style="color: purple">add</i>
                                                            </a></th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr th:each="f:${listFilms}">
                                                        <td th:text="${f.id}"></td>
                                                        <td th:text="${f.titre}"></td>
                                                        <td th:text="${f.duree}"></td>
                                                        <td th:text="${f.realisateur}"></td>
                                                        <td th:text="${f.description}"></td>
                                                        <td><img alt="" th:src="*{'data:image/jpeg;base64,'+{f.photo}}"
                                                                style="width:60px;height: 60px;"></td>
                                                        <td th:text="${f.dateSortie}"></td>
                                                        <td th:text="${f.categorie.name}"></td>





                                                        <td sec:authorize="hasRole('ROLE_MANAGER')" >
                                                            <a onclick="return confirm('etes vous sure de vouloire supprimer')"
                                                                class="btn btn-outline-warning"
                                                                th:href="@{deleteFilm(id=${f.id},keyword=${keyword},page=${currentPage},size=${size})}">
                                                                Delete</a>
                                                           &nbsp;&nbsp;&nbsp;


                                                            <a class="btn btn-outline-warning"
                                                                th:href="@{editFilm(id=${f.id},keyword=${keyword},page=${currentPage})}">Modifier</a>

                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ul class="nav nav-pills">
                                                <li th:each="page,status:${pages}">
                                                    <a th:class="${status.index==currentPage ?'btn btn-primary':'btn'}"
                                                        class="btn"
                                                        th:href="@{listFilms(page=${status.index},keyword=${keyword},size=${size})}"
                                                        th:text="${status.index}"></a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



</body>

</html>