<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="page1">

<head>

<meta charset="utf-8">

<title>Form Categorie</title>
</head>
<body>
	<div layout:fragment="contenu">
		<div class="container mt-5">
		<div class=" card col-md-6 offset-md-3">
			<div class="card-header bg-secondary text-white" th:if="${cinema.id==null}">Formulaire
				d'ajout</div>
			<div class="card-header bg-secondary text-white" th:if="${cinema.id!=null}">Formulaire
				de modification</div>
			<div class="card-body">
				<form method="post" th:action="@{saveCinema}">
					<div class="form-group">
						<input type="hidden" name="id" class="form-control"
							th:value="${cinema.id}">
							 <label class="control-label">Name</label>
						<input type="text" name="name" class="form-control"
							th:value="${cinema.name}"> 
							<span th:errors=${cinema.name} class="text-danger"></span>
							<div>
							<label class="control-label">longitude</label>
						<input type="text" name="longitude" class="form-control"
							th:value="${cinema.longitude}">
							</div> <label
							class="control-label">latitude</label>
							 <input type="text"
							name="latitude" class="form-control"
							th:value="${cinema.latitude}">
							 <label
							class="control-label">altitude</label>
							 <input type="text"
							name="altitude" class="form-control"
							th:value="${cinema.altitude}">
							 <label class="control-label">nombre de salles</label> 
							 <input type="text"
							name="nombreSalles" class="form-control"
							th:value="${cinema.nombreSalles}">
							 <label class="control-label">Ville</label> 
				 		 <select th:field = "${cinema.ville.id}" class="form-control form-control-sm" id="id">

                            <option value="">ville</option>
                            <option th:each="vil:${ville}"
                                    th:value="${vil.id}"
                                    th:text="${vil.name}"
                                 
                                    
                            >
                            </option>
                            
                        </select> 
                        

					</div>
					<button class="btn btn-outline-secondary offset-md-4" type="submit" style="width:34%;">Enregistrer</button>


				</form>
			</div>
		</div>
		</div>
	</div>
</body>
</html>