<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="page1">

<head>

<meta charset="utf-8">

<title>Form Categorie</title>
</head>
<body>
	<div layout:fragment="contenu">
	
		<div class="container mt-5">
			
				<div class="card col-md-6 offset-md-3">
				
				
					<div class="card-header bg-secondary text-white" align="center" style="color: blue; font-weight: bold;"
					 th:if="${film.id==null}">Formulaire de saisie d'un nouveau film</div>
					<div class="card-header" align="center" style="color: blue; font-weight: bold;"
					 th:if="${film.id!=null}">Formulaire de modification de film</div>
				
							
			<div class="card-body">
				<form method="post" th:action="@{saveFilm}"  enctype="multipart/form-data" >
					<div class="row">
 					   <div class="col">
							<input type="hidden" name="id" class="form-control" th:value="${film.id}">
							<label class="control-label">Titre</label>
						</div>
					</div>
					<div class="row">
 					   <div class="col">
						<input type="text" name="titre" class="form-control"
							th:value="${film.titre}">
							<span th:errors=${film.titre} class="text-danger"></span>
						</div>
					</div>
					<div class="row">
 					   <div class="col">
							 <label class="control-label">Duree</label>
						<input type="text" name="duree" class="form-control"
							th:value="${film.duree}"> 
						</div>
					</div>
					<div class="row">
 					   <div class="col">
							<label class="control-label">Realisateur</label>
						<input type="text" name="realisateur" class="form-control"
							th:value="${film.realisateur}">
						</div>
					</div>
					<div class="row">
 					   <div class="col">
							 <label class="control-label">Description</label>
							 <input type="text"
							name="description" class="form-control"
							th:value="${film.description}">
						</div>
					</div>
					<div class="row">
 					   <div class="col">
						<!-- <form method="post"  enctype="multipart/form-data" th:action="/uploadImage">
						
							<input type="file" name="photo">
							<input type="submit" value="Upload" />
						</form> -->
							 <label class="control-label"  style="font-weight: bold;">Photo</label>
							 <input type="file" name="imageFile"class="form-control"  
							>
							<!--  <span th:errors=${film.photo} class="text-danger"></span> -->
						 </div>
					</div>
					<div class="row">
 					   <div class="col">	
							<label class="control-label" style="font-weight: bold;">Date de sortie</label>
							<input type="Date" name="dateSortie" class="form-control" th:value="${film.dateSortie}">
							<span th:errors=${film.dateSortie} class="text-danger"></span>
						</div>
					</div>
				<div class="row">
 					   <div class="col">					
						 <label class="control-label">categorie</label> 
				 		 <select th:field = "${film.categorie.id}" class="form-control form-control-sm" id="id">

                            <option value="">Categorie</option>
                            <option th:each="cat:${categorie}"
                                    th:value="${cat.id}"
                                    th:text="${cat.name}" >
                            </option>
                         </select> 
                       </div>
                </div>
							<button class="btn btn-outline-secondary offset-md-4" type="submit" style="width:34%;">Enregistrer</button>
						</form>
					</div>
				</div>
			</div>
		
	</div>
</body>
</html>






