<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="page1">

<head>

<meta charset="utf-8">

<title>Form Categorie</title>
</head>
<body>
	<div layout:fragment="contenu">
			
		 <div class="container mt-5">	
				<div class="card col-md-6 offset-md-3">
					<div class="card-header bg-secondary text-white" align="center" style="color: blue; font-weight: bold;"
					 th:if="${categorie.id==null}">Formulaire d'ajout de categorie</div>
					<div class="card-header" align="center" style="color: blue; font-weight: bold;"
					 th:if="${categorie.id!=null}">Formulaire de modification </div>			
					<div class="card-body">
						<form method="post" th:action="@{saveCategory}">
							<div class="form-group">
								<input type="hidden" name="id" class="form-control" th:value="${categorie.id}">
								<label class="control-label">Nom de la catégorie</label>
								<input type="text" name="name" class="form-control"
								th:value="${categorie.name}">
							</div>
							<button class="btn btn-outline-secondary offset-md-4" type="submit" style="width:34%;">Enregistrer</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	
</body>
</html>






