<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
 	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
 	layout:decorator="page1">

<head>

    <meta charset="utf-8">

    <title>Liste Utilisateurs</title>
</head>

<body>
    <div layout:fragment="contenu">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-header" style="background-color: #E0E6F8">


                                <h4 class="card-title">Utilisateurs</h4>
                                <form class="navbar-form">

                                    <div class="input-group">
                                        <input class="col-md-2 form-control" type="search" placeholder="Name"
                                            aria-label="Search" name="keyword">&nbsp;&nbsp;
                                        <button class="btn btn-outline-success my-2 my-sm-0"
                                            type="submit">Search</button> &nbsp;&nbsp;
                                        <a class="btn btn-primary" th:href="@{listUsers}">Refresh</a>
                                    </div>
                                </form>

                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Password</th>
                                                <th>Email</th>
                                                <th>Active</th>
                                                <th>Role</th>
                                                <th></th>
                                                <th></th>
                                                <th sec:authorize="hasRole('ROLE_ADMIN')"><a style="display: inline-block" class="nav-link"
                                                        th:href="@{formUser}"> <i class="material-icons"
                                                            style="color: purple">add</i>
                                                    </a></th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="c:${listUsers}">
                                                <td th:text="${c.id}"></td>
                                                <td th:text="${c.username}"></td>
                                                <td th:text="${c.password}"></td>
                                                <td th:text="${c.email}"></td>
                                                <td th:text="${c.active}"></td>
                                                 <td th:text="${c.role.roles}"></td>

                                                <td sec:authorize="hasRole('ROLE_ADMIN')">
                                                    <a onclick="return confirm('Etes-vous sur de supprimer')"
                                                        th:href="@{deleteUser(id=${c.id},keyword=${keyword},page=${currentPage},size=${size})}"
                                                        class="btn btn-outline-warning"> Delete</a>
                                                &nbsp;&nbsp;&nbsp;
                                                    <a th:href="@{editUser(id=${c.id},keyword=${keyword},page=${currentPage},size=${size})}"
                                                        class="btn btn-outline-warning"> Modifier
                                                    </a>

                                                </td>
                                             

                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul class="nav nav-pills">
                                        <li th:each="page,statuts:${pages}"><a
                                                th:class="${statuts.index==currentPage?'btn btn-primary':'btn'}"
                                                th:href="@{listUsers(page=${statuts.index})}"
                                                th:text="${statuts.index}"> </a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>


</body>

</html>